/*main*/
header, .about, .hobbies, .projects {
  min-height: 800px;
  margin-top: 60px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Alegreya', serif,cursive;
  font-size: 1em;
}

h1, h2 {
  font-family: 'Alegreya', serif,cursive;
  text-align: center;
  color: #785964
}

h3, h5 {
  font-family: 'Alegreya', serif,cursive;
  text-align: left;
  color: #785964;
}

sub {
  font-family: 'Alegreya', serif,cursive;
  font-size: 1em;
  text-align: center;
}

a {
  color: #2C2C54;
  font-family: 'Alegreya', serif,cursive;
}

a:hover {
 color:#88B4DB
}

.top-nav {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 20px;
  height: 50px;
}

a {
  display: inline-block;
  margin: 0 10px;
  color: #2C2C54;
  font-family: 'Alegreya', serif, cursive;
}

.menu-selection {
  width: 90%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 5%;
}

.menu-selection article {
  display: flex;
  display: inline-flex;
  min-width: 300px;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 2.5% 2.3%;
  text-align: center;
  border-style: dotted;
  border-radius: 10px;
}

.menu-selection article:hover {
  box-shadow: 10px 10px 5px #785964;
}

.menu-selection h3 {
  font-size: 1.5em;
  height: 25px;
}

.about-me p {
  font-size: 1.1em;
  text-align: justify;
  line-height: 2em;
  font-family: 'Alegreya', cursive;
  color: #785964;
}

header {
  background-image:url("../images/background.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height:100%;
  padding-top: 100px;
  overflow: hidden;
}

h1 sub {
position: fixed;

}
footer img {
  max-width: 30px;
}
