/* main*/
html {
  height: 100%;
  width: 100%;
}
body {
  width: 100%;
  height: 100%;
}
header, .about, .hobbies, .projects {
  min-height: 800px;
  margin-top: 60px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Alegreya', serif,cursive;
  font-size: 1em;
}

h1, h2 {
  font-family: 'Alegreya', serif,cursive;
  text-align: center;
  color: #785964
}

h5 {
  font-family: 'Alegreya', serif,cursive;
  text-align: left;
  color: #785964;
  margin-left: 2%;
}

p {
  font-family: 'Alegreya', serif,cursive;
  font-size: 1em;
  text-align: center;
}

a {
  color: #2C2C54;
  font-family: 'Alegreya', serif,cursive;
}

a:hover {
 color:#88B4DB
}

nav {
  display: inline-block;
  position: fixed;
  right: 20px;
  top: 20px;
  height: 50px;
}

a {
  display: inline-block;
  margin: 0 10px;
  color: #2C2C54;
  font-family: 'Alegreya', serif, cursive;
}
main p {
  font-family: 'Alegreya', serif,cursive;
  text-align: right;
  margin-right: 2%;
  color: #785964
}
.menu-selection {
  width: 90%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 5%;
}

.menu-selection article {
  display: flex;
  display: inline-flex;
  min-width: 300px;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 2.5% 2.3%;
  text-align: center;
  border-style: dotted;
  border-radius: 10px;
}

.menu-selection article:hover {
  box-shadow: 10px 10px 5px #785964;
}

.menu-selection h3 {
  font-family: 'Alegreya', serif,cursive;
  text-align: center;
  color: #785964;
  }

div p {
  display:flex;
  flex-direction: column;
  flex-flow: nowrap;
  text-align: left;
  font-family: 'Alegreya', cursive;
  color: black;
}
.about img {
  border-radius: 85%;
}
header {
  background-image:url("../images/background.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height:100%;
  padding-top: 100px;
}

footer h3{
font-family: 'Alegreya', serif,cursive;
text-align: left;
margin-left: 2%;
color: #785964;
}

footer img {
  max-width: 30px;
}
/*about*/
nav ul {
  display: flex;
  justify-content: flex-end;
  align-content: space-between;
  list-style: none;
  max-width: 400px
}

.about {
  background-image:url("../images/spring.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
  padding-top: 100px;
}
